## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.15,-70.92,42.91,81,0,5.75,clear sky
1,1,Tasiilaq,GL,65.61,-37.64,33.49,97,100,10.20,snow
2,2,Hermanus,ZA,-34.42,19.23,58.80,63,0,9.60,clear sky
3,3,Rikitea,PF,-23.12,-134.97,77.04,71,27,18.68,scattered clouds
4,4,Saskylakh,RU,71.92,114.08,33.64,100,100,5.23,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you want? "))
max_temp = float(input("What is the maximum temperature you want? "))

What is the minimum temperature you want? 50
What is the maximum temperature you want? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
pref_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hermanus,ZA,-34.42,19.23,58.80,63,0,9.60,clear sky
5,5,Busselton,AU,-33.65,115.33,57.27,70,95,8.90,overcast clouds
9,9,Cidreira,BR,-30.18,-50.21,59.99,82,98,14.63,overcast clouds
12,12,Santa Margherita Ligure,IT,44.33,9.21,65.97,82,12,1.99,few clouds
19,19,Ushuaia,AR,-54.80,-68.30,51.46,43,0,8.05,clear sky
...,...,...,...,...,...,...,...,...,...,...
718,718,Taksimo,RU,56.34,114.88,56.93,46,82,11.65,broken clouds
720,720,Kijang,KR,35.24,129.21,69.53,31,100,2.28,overcast clouds
725,725,Paita,PE,-5.09,-81.11,67.15,79,68,15.90,broken clouds
726,726,Fort Frances,CA,48.60,-93.40,54.16,58,100,11.50,overcast clouds
727,727,Yinchuan,CN,38.47,106.27,64.80,7,0,8.95,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
pref_cities_df.notnull().sum()

City_ID                275
City                   275
Country                273
Lat                    275
Lng                    275
Max Temp               275
Humidity               275
Cloudiness             275
Wind Speed             275
Current Description    275
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pref_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hermanus,ZA,58.80,clear sky,-34.42,19.23,
5,Busselton,AU,57.27,overcast clouds,-33.65,115.33,
9,Cidreira,BR,59.99,overcast clouds,-30.18,-50.21,
12,Santa Margherita Ligure,IT,65.97,few clouds,44.33,9.21,
19,Ushuaia,AR,51.46,clear sky,-54.80,-68.30,
21,Bluff,NZ,51.80,clear sky,-46.60,168.33,
24,Yellowknife,CA,52.32,broken clouds,62.46,-114.35,
25,Mataura,NZ,51.48,clear sky,-46.19,168.86,
30,Pisco,PE,64.02,mist,-13.70,-76.22,
31,Oia,PT,63.37,overcast clouds,40.54,-8.54,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
print("Done")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Done

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hermanus,ZA,58.80,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
5,Busselton,AU,57.27,overcast clouds,-33.65,115.33,Observatory Guest House
9,Cidreira,BR,59.99,overcast clouds,-30.18,-50.21,Hotel Castelo
12,Santa Margherita Ligure,IT,65.97,few clouds,44.33,9.21,Hotel Portofino
19,Ushuaia,AR,51.46,clear sky,-54.80,-68.30,Albatross Hotel
21,Bluff,NZ,51.80,clear sky,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
24,Yellowknife,CA,52.32,broken clouds,62.46,-114.35,The Explorer Hotel
25,Mataura,NZ,51.48,clear sky,-46.19,168.86,Ellie's Villa
30,Pisco,PE,64.02,mist,-13.70,-76.22,Hotel San Isidro Oficial
31,Oia,PT,63.37,overcast clouds,40.54,-8.54,Hotel Estalagem da Pateira

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))