## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hermanus,ZA,58.80,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
1,5,Busselton,AU,57.27,overcast clouds,-33.65,115.33,Observatory Guest House
2,9,Cidreira,BR,59.99,overcast clouds,-30.18,-50.21,Hotel Castelo
3,12,Santa Margherita Ligure,IT,65.97,few clouds,44.33,9.21,Hotel Portofino
4,19,Ushuaia,AR,51.46,clear sky,-54.80,-68.30,Albatross Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Tholen"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Tholen"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Alfeld"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Altstatten"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Nimes"] 
vacation_stops = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
vacation_stops

[     City_ID    City Country  Max Temp Current Description    Lat   Lng  \
 267      711  Tholen      NL      65.1          few clouds  51.53  4.22

                   Hotel Name
 267  B&B Op de Brabantse Wal  ,
      City_ID    City Country  Max Temp Current Description    Lat   Lng  \
 196      545  Alfeld      DE     55.53           clear sky  51.98  9.82

               Hotel Name
 196  Räuber Lippoldskrug  ,
      City_ID        City Country  Max Temp Current Description    Lat   Lng  \
 222      608  Altstatten      CH     65.25     overcast clouds  47.38  9.55

     Hotel Name
 222      Sonne  ,
      City_ID   City Country  Max Temp Current Description    Lat   Lng  \
 180      509  Nimes      FR     63.01           clear sky  43.83  4.35

       Hotel Name
 180  Hôtel Cesar  ]

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print("Start:  " , start)
print("End:    " , end)
print("Stop 1: " , stop1)
print("Stop 2: " , stop2)
print("Stop 3: " , stop3)

Start:   (51.53, 4.22)
End:     (51.53, 4.22)
Stop 1:  (51.98, 9.82)
Stop 2:  (47.38, 9.55)
Stop 3:  (43.83, 4.35)

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', padding='1px', width='600px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(vacation_stops,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,711,Tholen,NL,65.10,few clouds,51.53,4.22,B&B Op de Brabantse Wal
1,545,Alfeld,DE,55.53,clear sky,51.98,9.82,Räuber Lippoldskrug
2,608,Altstatten,CH,65.25,overcast clouds,47.38,9.55,Sonne
3,509,Nimes,FR,63.01,clear sky,43.83,4.35,Hôtel Cesar

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
figure_layout = {
    'width': '600px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px'
}
fig = gmaps.figure(layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', padding='1px', width='600px'))